.about-container {
    color: white !important;
}

.box {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
}
.box p {
    width: 45em;
}

hr {
    margin: .5em auto;
    width: 25%;
    border: 0;
    height: 1px;
    margin-bottom: 1em;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.py-img {
    width: 250px;
    height: auto;
    box-shadow: rgba(232, 221, 221, 0.1) 0px 10px 50px;
    border-radius: 5px;
}

@media (max-width: 767px) {
}