.flyer-container {
  display: flex;
  margin-bottom: 5em;
}
/* poster / ticket*/
.item {
}
/* info */
.item-center {
  flex-grow: 1;
}

.item + .item {
  margin-left: 2%;
}
/* Flyer  */
.flyer-date {
  background-color: #ffffff;
  color: black;
  font-weight: 700;
  font-size: 0.85em;
  position: relative;
}
.flyer-date p {
  margin-bottom: 0;
  margin-left: 1em;
}
.flyer-date div {
  background-color: #f00000;
  height: 100%;
  width: 5px;
  position: absolute;
}
.flyer-container img {
  width: 15em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* info */
.list-group {
  font-family: sans-serif;
}

.headliner {
  font-family: "Fredoka", sans-serif;
  padding-top: 0;
  font-size: 2em;
  color: #62aedd !important;
}
.support {
  font-size: 0.9em;
  font-family: "Fredoka", sans-serif;
}
.clock {
  margin-right: 0.25em;
}
.time {
  padding-bottom: 0;
}
.location {
  /* padding-top: 0; */
}
.location img {
  margin-right: 0.25em;
  width: 15px;
  box-shadow: none;
}

.flyer-container li {
  color: white;
  background-color: transparent;
  border: none;
}

/* tickets  */
.tickets {
  font-family: "Roboto", sans-serif;
  width: 100px;
  padding: 3px;
}

@media (max-width: 767px) {
  .flyer-container {
    flex-direction: column;
    text-align: center;
  }
}
