.soundcloud-container{
    display: flex;
    padding: 0 20px 0;
    background-color: rgba(75, 74, 74, 0.8);
    border: 1px solid rgb(109, 109, 109);
    flex-direction: column;
    margin-bottom: auto;
    margin-left: 5vw;
    margin-right: 30px;
    border-radius: 10px;
}
.soundcloud-inner-container {
    margin-bottom: 25px;
}
.dj-title {
    font-family: cursive !important;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: white;
}
.soundcloud-name{
    background-color: #ffffff;
    font-size: smaller;
    padding: 3px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}




@media (max-width: 1100px){
    .soundcloud-container {
        display: none;
    }
    .dj-title{
        display: none;
    }
}