.sidebar {
  position: absolute;
  top: 60px;
  left: -15vw;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}
.sidebar.open {
  left: 0;
}
.sidebar-toggle {
  padding: 0;
  border-radius: 10px;
  background-color: #f200fa;
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  z-index: 1;
  transition: right 0.3s ease-in-out;
}
.sidebar-toggle.open {
  right: 220px;
}
/* TODO: WHAT THE FUCK. FUck CSS SHIT */
.soundcloud-outer-container {
  position: absolute;
  width: 220px;
  right: -220px;
  margin-left: 5vw;
  transition: right 0.3s ease-in-out;
}
.soundcloud-outer-container.open {
  right: 0;
}

.soundcloud-container {
  display: flex;
  position: absolute;
  padding: 0 20px 0;
  background-color: rgba(75, 74, 74, 0.8);
  border: 1px solid rgb(109, 109, 109);
  flex-direction: column;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 10px;
}
.soundcloud-inner-container {
  margin-bottom: 25px;
}
.dj-title {
  font-family: cursive !important;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}
.soundcloud-name {
  background-color: #ffffffe7;
  font-size: smaller;
  padding: 3px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
