.outer-container{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3em;
}
.inner-container {
    max-width: 1000px;
    width: 100%;
    padding: 0 30px 20px;
    margin-bottom: 10%;
}
.router-title {
    color: white;
    border-left: 2px solid red;
    padding-left: .7em;
    margin: 0 0 20px 0;
}