body {
  box-sizing: border-box;
  min-height: 100%;
  background: url(./assets/background/background.png) no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html {
  background-color: rgb(21, 21, 21);
  height: 100%;
}
a {
  text-decoration: none !important;
  color: inherit;
  transition: 500ms;
  cursor: pointer;
}
