body {
  box-sizing: border-box;
  background-color: #090f0fe9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none !important;
  color: inherit;
  transition: 500ms;
  cursor: pointer;
}
