.sidebar.open {
  left: 0;
}
.sidebar-toggle {
  z-index: 0;
  background: url('../../assets/images/social/soundcloud.png');
  border: none;
  background-size: cover;
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  transition: right 0.3s ease-in-out;
}
.sidebar-toggle.open {
  right: 220px;
}

.soundcloud-outer-container {
  overflow-x: hidden;
  position: absolute;
  width: 220px;
  right: -220px;
  margin-left: 5vw;
}
.soundcloud-outer-container.open {
  overflow-x: visible;
  right: 0;
  display: block;
  transition: right 0.3s ease-in-out;
}

.soundcloud-container {
  display: flex;
  position: absolute;
  padding: 0 20px 0;
  background-color: rgba(75, 74, 74, 0.8);
  border: 1px solid rgb(109, 109, 109);
  flex-direction: column;
  margin-bottom: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.soundcloud-inner-container {
  margin-bottom: 25px;
}
.dj-title {
  font-family: cursive !important;
  text-align: center;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}
.soundcloud-name {
  background-color: #ffffffe7;
  font-size: .8em;
  padding: 3px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: rgb(66, 65, 65);
}

.soundcloud-name a:hover {
  color: inherit;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}